<!DOCTYPE html>
<html>
  <head>
    <title>Flix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag("logo") %>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      Made by <%= link_to "Jamie Finlay", "http://jamiefinlay.co.uk" %>
    </footer>
  </body>
</html>
